#root {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  padding: 20px;
}

.wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ant-spin-spinning.spiner {
  left: 50%;
  top: 50%;
  position: fixed;
}

.ant-form-item-extra .ant-typography {
  opacity: 0.5;
  font-size: 12px;
}
